.welcome-container {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  h1 {
    font-size: 2em;
    color: #333;
  }
  
  p {
    font-size: 1.2em;
    color: #666;
  }
  